build
build-debug
.cache
.root
.undodir
*.sw*
*.un~
dot
*.bc
*.mlir
!test/runtime-plan/*.mlir
*.o
*.so
*.dot
*.csv
!CMakeLists.txt
*__pycache__
*.nsys-rep
*.sqlite
!.gitignore
!requirements.txt
!versions.txt
python/hecate/dist
python/hecate/hecate.egg-info
python/poly/dist
python/poly/poly.egg-info
examples/optimized
examples/traced
Session.vim
.venv
result
.nix-dev-shell
/compile_commands.json
/command.json
/compile_flags.txt
/.clangd
/review_artifacts/
